@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  margin: 0;
  background: #ffffff;
  color: #212121;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
}

img {
  display: block;
}